<!DOCTYPE html>
<html lang="en" ng-app="tikvah">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">


</head>

<body>

<div ng-controller="ProductCtrl">
    <div id="productsModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Search Results</h3>
        </div>
        <div class="modal-body">
            <label>Results for {{searchKey}}</label>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>In Stock?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in results" ng-click="select(product.id)">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form ng-submit="find()">
        <div class="input-append">
            <input class="products-typeahead" type="text" ng-model="searchKey">

            <button class="btn" type="submit">Search</button>
        </div>
    </form>

    <ul class="nav nav-tabs">
        <li><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#catalog" data-toggle="tab">Catalog</a></li>
        <li><a class="active" href="#media" data-toggle="tab">Media</a></li>
        <li><a href="#analytics" data-toggle="tab">Analytics</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="home">
            home
        </div>
        <div class="tab-pane" id="catalog">
            catalog
        </div>
        <div class="tab-pane active" id="media">

            <div id="mediaCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div ng-class="{active:$first, item:true}" ng-repeat="image in selected.media.photos">
                        <img ng-src="{{image}}" >
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <div class="tab-pane" id="analytics">
            analytics
        </div>
    </div>

</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="../js/Product.js"></script>
<script src="../js/config.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>

</html>