<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">


</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Tikvah</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="catalog.html">Catalog</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <h3>Product Finder</h3>

    <div ng-controller="tikvah.widgets.product.productfinder.ProductCtrl">
        <form ng-submit="find()">
            <div class="input-append">
                <input ng-model="searchKey" class="span2" type="text">
                <button class="btn" type="submit">Search</button>
                <button class="btn" type="button">Options</button>
            </div>
        </form>
        <label>Results for {{searchKey}}</label>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>In Stock?</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <!--<td><i ng-class="icon-{{product.available}}"></i></td>-->
                <td><i class="icon-{{product.available}}"></i></td>
            </tr>
            </tbody>
        </table>

    </div>

    <h3>Catalog Browser</h3>

    <div>

    </div>


</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="../js/tikvah.js"></script>
<script src="../js/bootstrap.min.js"></script>


</body>
</html>
